/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

:root
{
  --primary-color: #DA3D00;
  --button-text: #FFFFFF;
  --border-color: rgba(0, 0, 0, 0.3);
  --rounding: 300px;
  --primary-padding: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  padding: 16px;
}

a.navbar-brand {
  font-size: 2em;
}

body {
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 0 27px;
  margin-top: 80px;
}

ul {
  list-style-type: none;
}

.list-group-item {
  max-width: 500px;
  margin: auto;
  border: none;
}

.button,
.button:visited {
  border: none;
  font-family: inherit;
  margin: 5px 0;
  background-color: var(--primary-color);
  color: var(--button-text);
  font-size: 1em;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: .1em;
  padding: var(--primary-padding);
  border-radius: var(--rounding);
  border-bottom: 2px solid var(--border-color);
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button:hover,
.button.focus {
  cursor: pointer;
  opacity: 0.7;
  background-color: #000;
}

#pokename  {
  text-transform: capitalize;
}

p.modal-body-text,
img.modal-body-image {
  display: block;
}

@media all and (min-width: 1025px) {

  h1,
  .button {
    font-size: 2em;
    padding: 20px;
  }
}
