:root
{
  --primary-color: #DA3D00;
  --secondary-color: #FFEFD5;
  --dark-grey: #2b2b2b;
  --link-visited: #05676e;
  --link-active: #489c79;
  --button-text: #FFFFFF;
  --border-color: rgba(0, 0, 0, 0.3);
  --grid-background: #FFFFE5;
  --rounding: 300px;
  --primary-padding: 10px;
}

* {
  box-sizing: border-box;
}

body {
  text-align: justify;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:first-child {
  height: 40px;
}

main {
  padding: 0 27px;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

.button,
.button:visited {
  border: none;
  display: inline-block;
  font-family: inherit;
  margin: 10px 0;
  background-color: var(--primary-color);
  color: var(--button-text);
  font-size: 1em;
  text-decoration: none;
  padding: var(--primary-padding);
  border-radius: var(--rounding);
  border-bottom: 2px solid var(--border-color);
  transition: 0.2s opacity;
  }

.button:hover,
.button:focus
  {
    cursor: pointer;
    opacity: 0.7;
  }

@media all and (min-width: 1025px) {

  h1,
  .button {
    font-size: 2em;
    padding: 20px;
  }


}



#modal-container {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  text-align: center;
  display: none;
}

#modal-container.is-visible {
  display: block;
}

.modal {
  margin: auto;
  display: inline-block;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h2 {
  margin-top: 15px;
}

.modal p {
  margin-bottom: 15px;
}

p.modal-body-text,
img.modal-body-image {
  display: block;
}
